@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

img{
    pointer-events: none;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(136, 136, 136, 0.561);
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.664);
}

#overlay{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

#overlay h1{
    margin-left: 20%;
    margin-right: 20%;
}

#mobile-header{
    position: fixed;
    right: 0px;
    display: none;
}

#logo{
    transition: .5s;
}

#logo a{
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    color: white;
    text-decoration: none;
}

#logo a:hover{
    color: rgba(136, 136, 136, 0.76);
    transition: .5s;
}

#logo h3{
    font-weight: 200;
    letter-spacing: 2px;
}

#mobile-logo{
    transition: .5s;
}

.nav-bar{
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-around;
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
}

.nav-list{
    display: inline-flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    width: 60%;
}

.nav-list li{
    list-style: none;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 200;
    transition: .5s;
}

.nav-list li a:hover{
    background: white;
    color: black;
    font-weight: 800;
    transition: .5s;
}

.nav-list li a:focus{
    background: green;
    color: white;
    transition: .15s;
}

.button{
    border: 1px solid white;
    background-image: linear-gradient(to right, rgb(104, 233, 233), rgb(0, 153, 255), rgb(205, 98, 238));
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 4px 14px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
}

.button a{
    color: white;
    text-decoration: none;
    padding: 0px 5px;
    letter-spacing: 1.5px;
}

.button a i{
    padding: 0px 10px;
}

.intro-section{
    width: 100%;
    height: 100%;
}

.introduction{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: left;
    font-size: 16.5px;
    font-weight: 300;
}

.introduction h1{
    text-transform: uppercase;
}

.profile-pic img{
    border-radius: 100%;
    width: 35vh;
    margin-left: 5%;
    margin-right: 5%;
    float: right;
    margin-top: 100px;
}

.education{
    background: rgb(63, 63, 63);
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.education h1{
    text-align: center;
    text-transform: uppercase;
}

.education li{
    list-style: none;
    padding-top: 5px;
}

#content, #content2{
    margin: 2em;
}

.experience{
    background: rgb(21, 114, 41);
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.experience h1{
    text-align: center;
    text-transform: uppercase;
}

.experience li{
    list-style: none;
    padding-top: 5px;
}

#exp-content{
    margin: 2em;
}

.software-projects{
    background: rgb(21, 57, 114);
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 75px;
    padding-top: 75px;
}

.software-projects h1{
    text-align: center;
    text-transform: uppercase;
}

.software-projects li{
    padding-top: 5px;
}

#software-content1, #software-content2{
    margin: 2em;
}

#programming-languages{
    float: right;
}

.coursework{
    background: rgb(122, 10, 10);
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.coursework h1{
    text-align: center;
    text-transform: uppercase;
}

.coursework li{
    list-style: none;
    padding-top: 5px;
}

#coursework-content{
    margin: 2em;
}

footer{
    background: black;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#copyright{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 200;
}

#social-media-links{
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 200;
    float: right;
}

#social-media-links a{
    color: white;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    transition: .5s;
}

#social-media-links a:hover{
    background: white;
    color: black;
    font-weight: 800;
    border-radius: 20px;
    transition: .5s;
}

@media screen and (max-width: 1025px)
{
    html{
        scroll-behavior: smooth;
    }
    img{
        text-align: center;
        justify-content: center;
    }
     /* Only for closing time (10:00 PM - 8:00 AM) */
    #overlay h1{
        margin-left: 10%;
        margin-right: 10%;
    }
    /*--------------------------------------------*/
    #container{
        text-align: center;
    }
    #mobile-header{
        display: inline-block;
        width: 100%;
        height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: black;
    }
    .nav-bar{
        height: 100vh;
        width: 80%;
        top: 50px;
        position: fixed;
        padding-top: 0px;
        left: -900px;
        z-index: 2;
        transition: 1.5s;
    }
    .nav-bar.active{
        background: black;
        left: 0px;
        transition: .9s;
    }
    .nav-list{
        top: 110px;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: fixed;
    }
    #logo{
        display: none;
    }
    #mobile-logo{
        margin-left: 23%;
        margin-right: 23%;
        transform: translateX(3px);
    }
    #mobile-logo a{
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition: .5s;
        color: white;
        text-decoration: none;
    }
    #mobile-logo a:hover{
        color: rgba(136, 136, 136, 0.76);
        transition: .5s;
    }
    #mobile-logo h3{
        font-weight: 200;
        letter-spacing: 2px;
    }
    #report-icon{
        padding: 7px 15px;
        transition: .5s;
        float: right;
        transform: translate(-10px, -35.5px);
    }
    .button{
        display: none;
    }
    #report-icon i{
        font-size: 28px;
        color: white;
    }
    .introduction{
        margin-left: 7%;
        margin-right: 7%;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: left;
        font-size: 15px;
    }
    .introduction h1{
        margin-left: 0%;
        margin-right: 0%;
        font-size: 30px;
    }
    .profile-pic img{
        width: 17.5vh;
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }
    .education{
        width: 100%;
    }
    #content{
        margin-left: 3%;
        margin-right: 3%;
    }
    #content2{
        margin-left: 3%;
        margin-right: 3%;
    }
    #content li{
        font-size: 15px;
    }
    #content2 li{
        font-size: 15px;
    }
    #univ{
        font-size: 17px;
        text-align: left;
    }
    #college{
        font-size: 17px;
        text-align: left;
    }
    #city{
        font-size: 15px;
        margin: 1.75px;
    }
    #degree{
        font-size: 14px;
        text-align: left;
    }
    #grad{
        font-size: 15px;
        text-align: left;
        float: unset;
    }
    #exp-content{
        margin-left: 3%;
        margin-right: 3%;
    }
    #workplace{
        text-align: left;
        font-size: 14px;
    }
    #position{
        text-align: left;
        font-size: 17px;
    }
    #date{
        text-align: left;
    }
    .software-projects li{
        text-align: left;
        font-size: 15px;
    }
    #software-content1, #software-content2{
        margin-left: 3%;
        margin-right: 3%;
    }
    #programming-languages{
        float: none;
        text-align: left;
    }
    #project-title{
        text-align: left;
    }
    .coursework h1{
        margin-left: 2%;
        margin-right: 2%;
    }
    .coursework li{
        font-size: 15px;
    }
    #copyright{
        font-size: 13px;
        text-align: left;
        float: inline-start;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #social-media-links{
        margin: 0;
        text-align: left;
        float: none;
        font-size: 14px;
    }
}
